<div class="container">
  <h1>{{this.data.name}}</h1>
  <p>{{this.data.description}}</p>
  <img
    style="width: 800px; height:500px"
    src="{{this.data.image}}"
    class="card-img-top"
    alt="{{this.data.name}}"
  />
</div>