<div class="search-form container-fluid mt-5">
  <form method="POST" class="container">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ khóa</label>
      <input
        type="text"
        name="query"
        class="form-control"
        placeholder="Nhập từ khóa..."
      />
    </div>
    <div class="mb-3">
      <label for="search-input" class="form-label">Giới tính</label>
      <select name="gender">
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>